.reseaux-sociaux-container{
    //background-color: red ;
    ul{
        background-color: burlywood;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    li{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    i{
        font-size: 8rem;
    }

    a{
        transition-property: font-size;
        transition-duration: 0.8s;
        transition-delay: 0.2s;
        &:hover{
            color: coral;
            font-size: 8.5rem;
        }
    }
}